# Importing and preparing Butter data

## Libraries and settings

In [25]:
# Libraries
import os
import sqlite3
import fnmatch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/groceries

## Create sqlite data base

In [26]:
# Create data base
conn = sqlite3.connect('groceries_database.db') 
cursor = conn.cursor()

# Show dbs in the directory
flist = fnmatch.filter(os.listdir('.'), '*.db')
for i in flist:
    print(i)

groceries_database.db

## Create SQL-table in the database

In [27]:
import sqlite3

# Verbindung zur Datenbank herstellen
conn = sqlite3.connect('groceries_database.db')
cursor = conn.cursor()

# CREATE TABLE-Befehl mit IF NOT EXISTS
cursor.execute('''CREATE TABLE IF NOT EXISTS eggs_table (
                  eggsId VARCHAR(50),
                  product_type VARCHAR(200),
                  web_scraper_order DECIMAL(8, 2),
                  web_scraper_start_url VARCHAR(500),
                  productname_raw VARCHAR(200),
                  price_raw DECIMAL(8, 2),
                  piece INT,
                  Supermarkt VARCHAR(50),
                  price_per DECIMAL(8, 3)
                  )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS flour_table (
                  flourId VARCHAR(50),
                  product_type VARCHAR(200),
                  web_scraper_order DECIMAL(8, 2),
                  web_scraper_start_url VARCHAR(500),
                  productname_raw VARCHAR(200),
                  price_raw DECIMAL(8, 2),
                  piece INT,
                  Supermarkt VARCHAR(50),
                  price_per DECIMAL(8, 3)
                  )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS butter_table (
                  butterId VARCHAR(50),
                  product_type VARCHAR(200),
                  web_scraper_order DECIMAL(8, 2),
                  web_scraper_start_url VARCHAR(500),
                  productname_raw VARCHAR(200),
                  price_raw DECIMAL(8, 2),
                  piece INT,
                  Supermarkt VARCHAR(50),
                  price_per DECIMAL(8, 3)
                  )''')

# Confirm changes to the table
conn.commit()

## Read data from file to data frame

## Butter

In [28]:
df = pd.read_csv('CSV/prepared/Butter_Merged.csv', 
                 sep=';', 
                 encoding='utf-8')[['product_type', 'web-scraper-order', 'web-scraper-start-url', 'productname_raw', 'price_raw', 'weight_raw', 'Supermarkt', 'price_per_100g']]
print(df.shape)
df.head(5)

(124, 8)

,product_type,web-scraper-order,web-scraper-start-url,productname_raw,price_raw,weight_raw,Supermarkt,price_per_100g
0,butter,1698754764-1,https://www.aldi-now.ch/de/milchprodukte-&-eie...,Die Butter,3.95,250,Aldi,1.58
1,butter,1698754764-2,https://www.aldi-now.ch/de/milchprodukte-&-eie...,RETOUR AUX SOURCES BIO Butter,4.19,200,Aldi,2.10
2,butter,1698754764-3,https://www.aldi-now.ch/de/milchprodukte-&-eie...,"BIO NATURA Butter 100 g, laktosefrei",2.95,100,Aldi,2.95
3,butter,1698754764-4,https://www.aldi-now.ch/de/milchprodukte-&-eie...,MILFINA Kochbutter,3.49,250,Aldi,1.40
4,butter,1698754764-5,https://www.aldi-now.ch/de/milchprodukte-&-eie...,MILFINA Kräuterbutter,2.85,100,Aldi,2.85

In [29]:
df.to_sql(name = 'butter_table',
          con = conn,
          index = False,
          if_exists = 'replace')

124

In [30]:
# Query the SQL-table for butter_table (all records)
cursor.execute('''SELECT *
               FROM butter_table''')

# Spaltennamen extrahieren
columns = [description[0] for description in cursor.description]
print(columns)
df_all = pd.DataFrame(cursor.fetchall(), columns=columns)
print(df_all)

['product_type', 'web-scraper-order', 'web-scraper-start-url', 'productname_raw', 'price_raw', 'weight_raw', 'Supermarkt', 'price_per_100g']
    product_type web-scraper-order  \
0         butter      1698754764-1
1         butter      1698754764-2
2         butter      1698754764-3
3         butter      1698754764-4
4         butter      1698754764-5
..           ...               ...
119       butter     1698740582-60
120       butter     1698740582-61
121       butter     1698740582-62
122       butter     1698740582-63
123       butter     1698740582-64

                                 web-scraper-start-url  \
0    https://www.aldi-now.ch/de/milchprodukte-&-eie...
1    https://www.aldi-now.ch/de/milchprodukte-&-eie...
2    https://www.aldi-now.ch/de/milchprodukte-&-eie...
3    https://www.aldi-now.ch/de/milchprodukte-&-eie...
4    https://www.aldi-now.ch/de/milchprodukte-&-eie...
..                                                 ...
119  https://www.migros.ch/de/search?query=Butter&f...
120  https://www.migros.ch/de/search?query=Butter&f...
121  https://www.migros.ch/de/search?query=Butter&f...
122  https://www.migros.ch/de/search?query=Butter&f...
123  https://www.migros.ch/de/search?query=Butter&f...

                           productname_raw  price_raw  weight_raw Supermarkt  \
0                               Die Butter       3.95         250       Aldi
1            RETOUR AUX SOURCES BIO Butter       4.19         200       Aldi
2     BIO NATURA Butter 100 g, laktosefrei       2.95         100       Aldi
3                       MILFINA Kochbutter       3.49         250       Aldi
4                    MILFINA Kräuterbutter       2.85         100       Aldi
..                                     ...        ...         ...        ...
119              Züribieter Molkereibutter       3.90         200     Migros
120                              Margarine       2.90         250     Migros
121                              Margarine       5.50         500     Migros
122    Anna's Best Laugenbrezel mit Butter       2.95         120     Migros
123  Anna's Best Kürbis Butter Nut gekocht       3.30         400     Migros

     price_per_100g
0              1.58
1              2.10
2              2.95
3              1.40
4              2.85
..              ...
119            1.95
120            1.16
121            1.10
122            2.46
123            0.82

[124 rows x 8 columns]

## Write data to the SQL-table in data base (NOCH NICHT GETESTET)